src/backend/api/venv
src/backend/api/__pycache__
src/backend/bin
src/backend/lib
src/backend/pip-selfcheck.json
src/backend/selenium
src/backend/screenshot
src/backend/share
src/backend/config.ini
src/backend/.browserData
**/__pycache__
src/frontend/build
src/client/eventHandler/build
**/node_modules
**/yarn.lock
