.showResult {
    display: flex;
    justify-content: initial;
}

.showResult .eventList {
    display: inline-block;
    width: 330px;
    position: relative;
    z-index: 1
}

.eventList .step {
    background-color: rgba(230, 230, 230, 1) !important;
}

.eventList .scoreSame,
.eventList .scoreSame .description {
    background-color: green !important;
    color: #fff !important;
}

.eventList .scoreDiffrent,
.eventList .scoreDiffrent .description {
    background-color: red !important;
    color: #fff !important;
}

.eventList .active {
    box-shadow: 0px 0px 5px 1px #fff !important;
    z-index: 10;
}

.showResult .comparatorWrapper {
    display: block;
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    top: 0px;
    width: auto;
    z-index: 0;
}

.showResult .comparatorWrapper > div {
    display: block;
    position: relative;
    width: auto !important;
    overflow-y: hidden !important;
    overflow-x: auto;
    padding: 10px;
}

.controlPanel {
    display: block;
    position: fixed;
    height: 50px !important;
    width: 630px;
    line-height: 50px !important;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.5)
}

.controlPanel div[role='listbox'] {
    margin-right: 10px !important;
}

.controlPanel input {
    margin-left: 10px !important;
    margin-right: 10px !important;
}

.controlPanel + div + div {
    position: relative !important;
    top: 20px !important;
    left: 0px !important;
    margin-bottom: 20px;
    overflow: hidden;
}
