.showResult {
    display: flex;
    justify-content: initial;
}

.showResult .eventList {
    display: block;
    min-width: 150px !important;
    width: 150px !important;
    max-height: 1080px;
    z-index: 999 !important;
    overflow-x: hidden;
    overflow-y: auto;
}

div .popup {
    box-shadow: 0px 0px 3px #999 !important;
}

.eventList .step {
    width: 150px !important;
    background-color: rgba(230, 230, 230, 1) !important;
}

.eventList .scoreSame,
.eventList .scoreSame .description {
    width: 100% !important;
    background-color: green !important;
    color: #fff !important;
}

.eventList .scoreDiffrent,
.eventList .scoreDiffrent .description {
    word-wrap: break-word !important;
    background-color: red !important;
    color: #fff !important;
}

.eventList .active {
    box-shadow: 0px 0px 5px 1px #fff !important;
    z-index: 10;
}

.showResult .comparatorWrapper {
    display: inline-block;
    position: relative !important;
    overflow: hidden !important;
    max-height: 1080px !important;
    top: 0px;
    width: auto;
    z-index: 0 !important;
}

.showResult .comparatorWrapper > div {
    display: block;
    position: relative;
    width: auto !important;
    overflow: auto !important;
    padding: 10px;
    max-height: 1080px !important;
}

.controlPanel {
    display: block;
    position: fixed;
    height: 70px !important;
    width: 512px;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.5)
}

.controlPanel div[role='listbox'] {
    width: 150px !important;
    max-width: 150px !important;
    margin-left: 10px !important;
    margin-right: 10px !important;
}

.controlPanel input {
    margin-left: 10px !important;
    margin-right: 10px !important;
    width: 150px;
}

.controlPanel span {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    height: 20px;
    line-height: 20px;
    width: 150px !important;
    text-align: center;
    font-weight: 800;
    font-size: 16px;
}

.controlPanel + div {
    position: relative;
    top: 80px !important;
}

.controlPanel + div + div {
    position: relative !important;
    left: 0px !important;
}
