.createScenario {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 264px;
    height: 195px;
    margin-top: -95px;
    padding: 1px;
    margin-left: -132px;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0px 0px 10px 2px #000;
    background-color: #000;
    z-index: 1000;
}

.createScenario .header {
    background: #000 !important;
    border: none !important;
    border-bottom: 2px solid #fff !important;
    color: #fff !important;
    height: 40px !important;
    line-height: 40px !important;
    width: 100%;
}

.createScenario .form {
    padding: 5px 5px 5px 5px;
}

.createScenario .form label {
    width: 54px !important;
}
